@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
body
{
    background-color:#1F2937;
    font-family:'Roboto';
    
}

.logo
{
    padding: 0px;
    margin-bottom: -100px;
    margin-top: -67px;
    margin-left: -134px;

}

.box1 .nav-list
{
    display: flex;
    margin:auto;
    float:right;
}

.box1 .nav-list a
{
    color: white;
    text-decoration:none;
    padding:10px;
}

.box1 h5
{
    text-align: center;
    font-size: 48px;
    color:#F9FAF8;
    font-weight:bolder;
    margin-bottom:56px;
    
}
.picture
{
    display:flex;
    margin:auto;
    margin-bottom:-203px;
    border-radius:25%;
}
.pic
{
    display:block;
    color:white;
    text-align:center;
    background-color:black;
    width:221px;
    margin:auto;
    padding:100px;
    margin-top:-50px;
    margin-bottom: 70px;
    height:auto;
    border-radius:25px;
}

.about
{
    display:block;
    text-align:center;
    font-size:18px;
    color:#E5E7EB;
    margin-top:-50px;
    margin-bottom:10px;
}

.box1-5 
{
    background-color: crimson;
    color:white;
    margin:auto;
    width:65px;
    text-align:center;
    border-radius: 25px;
    padding:10px;
    height:auto;
    margin-top:40px;
    

}

.box1-5 a
{
    text-decoration:none;
    color:white;
}

.head
{
    background-color:transparent;
    text-align:center;
    font-size:36px;
    margin-bottom:-71px;
}

.box2
{
    background-color:white;
    display:flex;
    flex-direction:row;
    text-align:center;
    justify-content:space-evenly;
    width:auto;
    height:auto;
    margin-top:20px;
    margin-left:-10px;
    margin-right:-25px;
    margin-bottom:-20px;
    gap:20px;
    
}

.sub
{
    display:flex;
    background-color:transparent;
    width:150px;
    height:150px;
    border:4px solid crimson;
    border-radius:25%;
    margin-top:73px;
    margin-bottom:50px;
    align-items:center;
    justify-content:space-around;

}

.box2-5
{
    background-color:transparent;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
    margin:auto;
    margin-top:-36px;
    margin-bottom:-35px;

}

.txt
{
    border-radius:25%;
    margin-top:0px;
}

.box3
{
    display:flex;
    flex-direction:column;
    text-align:center;
    background-color:#E5E7EB;
    margin:auto;
    margin-left:-10px;
    margin-right:-25px;
    margin-top:52px;
    margin-bottom:58px;
}

.head2
{
    margin-top:16px;
}

.box3 .txt
{
    font-size:18px;
    font-style: italic;
    text-align:center;
    margin-bottom:50px;
    margin-top:6px;
}
